<div>
    <h1 style="color:#002b5c;">My Skills </h1>
</div>


  <div>
    <h2>Front-End</h2>
    <mat-chip-list aria-label="Fish selection">
        <mat-chip>HTML</mat-chip>
        <mat-chip>CSS</mat-chip>
        <mat-chip>Bootstrap</mat-chip>
        <mat-chip>Javascript</mat-chip>
        <mat-chip>Angular</mat-chip>
        <mat-chip>Angular Material</mat-chip>
        <!-- <mat-chip color="primary" selected>Primary fish</mat-chip>
        <mat-chip color="accent" selected>Accent fish</mat-chip> -->
      </mat-chip-list>
  </div>
  <div>
    <h2>
        Back-End
    </h2>
    <mat-chip-list aria-label="Fish selection">
        <mat-chip>Node.js</mat-chip>
        <mat-chip>Express.js</mat-chip>
      </mat-chip-list>

  </div>
  <div>
    <h2>Database</h2>
    <mat-chip-list aria-label="Fish selection">
        <mat-chip>MongoDB</mat-chip>
        <mat-chip>MySql</mat-chip>
      
      </mat-chip-list>
  </div>
  <div>
    <h2>Other</h2>
    <mat-chip-list aria-label="Fish selection">
        <mat-chip>Git</mat-chip>
        
      </mat-chip-list>
  </div>
