<div class="img">
    <img
      class="avatar mat-elevation-z8"
      src="../assets//portpic.jpg"
    />
    
</div>

<mat-card class="example-card">
    
    <mat-card-title style="color:#002b5c;">Are Nikhil</mat-card-title>
    <mat-card-subtitle style="color:#002b5c;font-weight: bold;">MEAN STACK DEVELOPER (WEB DEV)</mat-card-subtitle>
    <mat-card-content>
      <p>MEAN Stack Developer with 1.5 Year of real time project experience in designing and
        developing user interfaces, testing and debugging with web technologies. Proven ability
        in optimizing web functionalities that improve data retrieval and workflow efficiencies. I'm
        to work in an environment which encourages me to succeed and grow professionally where
        I can utilize my skills and knowledge appropriately</p>
      <!-- <p>{{ longText }}</p> -->
    </mat-card-content>
    <!-- <mat-divider inset></mat-divider> -->
    <mat-card-actions>
      
    </mat-card-actions>
    <mat-card-footer>
      <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
    </mat-card-footer>
  </mat-card>